<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @list.email %>
</p>

<p>
  <strong>Thingstodo:</strong>
  <%= @list.thingstodo %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
